* {
  box-sizing: border-box;
}
body {
  background-color: #f3f5f5;
}
.container {
  /* background-color: blue; */
  width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.logo {
  height: 10%;
  width: 10%;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-left: 18.5%;
  margin-right: 18.5%;
  /* max-width: 1200px; */
  background-color: white;
}
.rightbloc img {
  object-fit: cover;
  height: 50%;
  width: 50%;
  border-radius: 10px;
}
.rightbloc {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;

  /* margin-left: auto; */
}
.leftbloc {
  flex: 1;
}
article img {
  height: 130px;
  border-radius: 5px;
}
.main-container {
  display: flex;
}
.col-left {
  width: 68%;
}
.articles-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;
  /* justify-content: space-between; */
}

article {
  display: flex;
  width: 50%;
  height: 170px;
  margin-bottom: 40px;
  justify-content: space-between;
  padding: 20px;
}
article p.description {
  height: 45px;
  overflow: hidden;
  width: 50%;
}

article img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}
/* article .description {
  height: 34px;
  overflow: hidden;
  margin-bottom: 10px;
} */
col-right {
  /* border: red 1px solid; */
  height: 100px;
  width: 100px;
}
.menu-container h2 {
  padding-top: 60px;
}
.menu-container {
  /* background-color: red; */
  width: 100%;
}
